{% extends "superuser/superuser_base.html" %}
{% load staticfiles %}
{% block side_block %}
    <style>
    .list-group{
        padding-top: 40px;
    }

    </style>
<div class="list-group side-nav-links" xmlns="http://www.w3.org/1999/html">
    <a href="/superuser/view_allusers/" class="list-group-item active" id="link_stat">All Users</a>
    <a href="/superuser/viewallsheds/" class="list-group-item " id="link_mbr">All Sheds</a>
    <a href="/superuser/viewalltools/" class="list-group-item" id="link_shed">All Tools details</a>
</div>
{% endblock %}
{% block content %}
{% block maincontent %}
<div id="users" class="tool-items-list">
    {%for user in allusers%}

    <div class="tool-item_superuser shed-user">
        <form  class="tool-details_superuser">
            <div class="tool-name">{{user.first_name}} {{user.last_name}}</div>
            <div class="tool-borrower">Zipcode: {{ user.zip_code }}</div>
            <div class="tool-borrower">Coordinator: {% if user.is_coordinator %} YES {% else %} NO{% endif %}</div>
            <div class="tool-borrower">Super User: {% if user.is_super %} YES {% else %} NO{% endif %}</div>
        {% if user.is_coordinator %}
            <button type="button" class="btn btn-danger" onclick="window.location.href='/superuser/demote_to_user_superuser/{{ user.id }}/'"/>Demote to User</button>
        {% else %}
            <button type="button" class="btn btn-success" onclick="window.location.href='/superuser/make_coordinator_superuser/{{user.id}}/'">Make Coordinator</button>
        {% endif %}
        {% if user.is_superuser %}
        {% else %}
            <button type="button"class="btn btn-success" onclick="window.location.href='/superuser/make_super/{{ user.id }}/'">Make Super User</button>
        {% endif %}
        <button type="button"class="btn btn-danger btn-delete" onclick="window.location.href='/superuser/delete_user_superuser/{{ user.id }}/'">Delete User</button>
     </form>
    </div>
    {%endfor%}
</div>
{%endblock%}

{% block javascript %}
<script type="text/javascript" id="tool-script">


</script>
{% endblock %}
{%endblock%}