{% extends "shed/shed-menu.html" %}
{% load staticfiles %}

{% block side_block %}
    <a href="/shed/stats/" class="list-group-item" id="link_stat">Zone statistics</a>
    <a href="/viewshedusers/" class="list-group-item" id="link_mbr">Zone members</a>
    <a href="/shed/shed_details/" class="list-group-item active" id="link_shed">Shed details</a>
    {% if isCoordinator %}
        <a href="/shed/inventory/" class="list-group-item" id="link_inv" >Shed inventory</a>
    {% endif %}
{% endblock %}

{% block maincontent %}
    <h2 class="page-title">{{ page_title }}</h2>
    <div id="users">
        <div class="form-group">
            <label class="required">Address</label>
            <textarea id="id_address" name="address" placeholder="Address" rows="3"
                      class="form-control" required>{{ shed_detail.street_address}}</textarea>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label class="required">Shed City</label>
                <input class="form-control" value="{{ shed_detail.city }}" readonly>
            </div>
            <div class="col-sm-6 form-group">
                <label class="required">Shed Zipcode</label>
                <input class="form-control" value="{{ shed_detail.zip_code }}" readonly>
            </div>
        </div>
        <button class="btn btn-success pull-right" onclick="updateAdd()" type="button">Save Address</button>
    </div>
    <script>
    function updateAdd() {
        var add=document.getElementById('id_address').value;
        document.location.href = "/shed/save_shed_detail/"+add+'/';
    }
	</script>
{% endblock %}

