{% extends 'navigation/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Tool Share</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="http://getbootstrap.com/examples/dashboard/dashboard.css"
	rel="stylesheet">
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	{% block content %}
                <div class="row well">
                    <form method="post">{% csrf_token %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <h2>Change Password</h2>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label class="required">Old password:</label>
                                    <input class="form-control" id="id_old_password" name="old_password" type="password" required>
                                    <span class="help-block has-error">{{ form.old_password.errors }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label class="required">New Password</label>
                                    <input maxlength=30 minlength=8 type="password" id="id_new_password1"
                                           name="new_password1"
                                           placeholder="Password" class="form-control" required data-toggle="tooltip"
                                           title="Password must be more than eight and less than 30 characters long, have at least one digit, one lowercase character and one uppercase character.">
                                    <span class="help-block has-error">{{ form.new_password1.errors }}</span>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label class="required">Confirm Password</label>
                                    <input maxlength=30 minlength=8 type="password" id="id_new_password2"
                                           name="new_password2"
                                           placeholder="Confirm Password" class="form-control" required
                                           data-toggle="tooltip"
                                           title="Password must be more than eight and less than 30 characters long, have at least one digit, one lowercase character and one uppercase character.">
                                    <span class="help-block has-error">{{ form.new_password2.errors }}</span>
                                </div>
                            </div>
                        <button class="btn btn-success" type="submit">Update</button>
                        <button class="btn btn-warning" type="reset">Reset</button>
                        <button class="btn btn-danger" type="button" onclick="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>
	{% endblock %}
</body>
</html>

{% block side_block %}
    <a href="/profile/" class="list-group-item active">Profile</a>
    <a href="/mytools/" class="list-group-item">My tools</a>
    <a href="/myborrowlist/" class="list-group-item">Borrowing</a>
    <a href="/mylendlist/" class="list-group-item">Lending</a>
    {% comment %}<a href="javascript:displayAddTool()" class="list-group-item">Add tool</a>{% endcomment %}
{% endblock %}

{% block javascript %}
<script>
	function cancel(){
		document.location.href = "/profile";
	}
	function alertAndStopPOST(form, message){
		alert(message);
		form.id_old_password.value = "";
		form.new_password1.value = "";
		form.new_password2.value = "";
		return false;
	}
	function validate(form) {
		re = /^\w+$/;
		if (form.new_password1.value != "" && form.new_password1.value == form.new_password2.value) {
			if (form.new_password1.value.length < 6 && form.new_password1.value.length > 30) {
				return alertAndStopPOST(form, "Error: Password must be longer than 6 characters and smaller than 30 characters!");
			}
			re = /[0-9]/;
			if (!re.test(form.new_password1.value)) {
				return alertAndStopPOST(form, "Error: Password must contain at least one number (0-9)!");
			}
			re = /[a-z]/;
			if (!re.test(form.new_password1.value)) {
				return alertAndStopPOST(form, "Error: Password must contain at least one lowercase letter (a-z)!");
			}
			re = /[A-Z]/;
			if (!re.test(form.new_password1.value)) {
				return alertAndStopPOST(form, "Error: Password must contain at least one uppercase letter (A-Z)!");
			}
		} else {
			return alertAndStopPOST(form, "Error: Passwords did not match.");
		}
	
		return true;
	}
</script>
{% endblock %}